<div class="directive gifable-index-header">
    <div class="navigation">
        <div class="outer-container">
            <div class="logo">
                <a href="#/"><img src="/img/index-logo.png"></a>
            </div>
            <div class="upload">
                <gifable-file-input></gifable-file-input>
            </div>
        </div>
    </div>
    <div class="call-to-action">
        <div class="outer-container">
            <h1>GIFs Just Got Even Better</h1>
            <h2>Our GIFs are converted to HTML5 videos, saving you time and bandwidth.</h2>
            <div class="search">
                <button>Search</button>
                <div class="input-wrapper">
                    <input type="text" placeholder="Search for a GIF...">
                </div>
            </div>
        </div>
    </div>
</div>
