<div class="directive gifable-index-header">
    <div class="navigation">
        <div class="outer-container">
            <div class="logo">
                <a href="#/"><img src="/img/index-logo.png"></a>
            </div>
            <div class="links">
                <ul>
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/api">API</a></li>
                    <li><a href="#/donate">Donate</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="call-to-action">
        <div class="outer-container">
            <h1>Upload Your GIF</h1>
            <div class="input">
                <gifable-file-input></gifable-file-input>
            </div>
            <p>We squash your GIFs into super efficient HTML5 videos that can be viewed from any device - saving you time and bandwidth.</p>
        </div>
    </div>
</div>
