button {
    background-color: $blue;
    padding: 16px;
    border: none;
    border-radius: 4px;

    color: #fff;
    font-weight: 600;

    @include box-shadow(inset 0 1px 0 rgba(#fff, 0.2), 0 1px 2px rgba(#000, 0.2));
    cursor: pointer;

    &:hover {
        background-color: lighten($blue, 5%);
    }
    &:active {
        background-color: darken($blue, 5%);

        @include box-shadow(inset 0 1px 2px rgba(#000, 0.2));
    }
}
