button {
    background-color: $primary-color;
    padding: 0 20px;
    border: none;
    border-radius: 3px;

    color: #fff;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
        background-color: lighten($primary-color, 5%);
    }
    &:active {
        background-color: darken($primary-color, 5%);
    }
    .fa {
        margin-right: 10px;

        font-size: 18px;
        vertical-align: middle;
    }
}
