.ngdialog.ngdialog-theme-default {
    .ngdialog-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 0;

        h3 {
            margin: 0 0 10px;

            font-size: 18px;
            color: $primary-color;
            line-height: normal;
            text-transform: uppercase;
        }
        p {
            margin: 0;

            font-size: 14px;
            color: $text-color;
            line-height: golden-ratio(14px, 1);
        }
        .ngdialog-close {
            &:before {
                @include font-awesome;
                content: '\f00d';
                color: $accent-color;
                line-height: 30px;
            }
            &:hover {
                &:before {
                    color: $text-color;
                }
            }
        }
    }
}
