@import "bourbon";
@import "neat";

$mobile: new-breakpoint(max-width 420px, 4);

$accent-color: #A6A6A6;
$background-color: #EEE;
$primary-color: #4DBCE9;
$text-color: #515151;

@import "imports/buttons";
@import "imports/dialogs";
@import "imports/inputs";

html, body {
    height: 100%;
    background-color: $background-color;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: $text-color;

    * {
        box-sizing: border-box;

        &:focus {
            outline: 0;
        }
    }
    a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    main {
        min-height: 100%;
        padding: 0 0 50px;
        position: relative;

        footer {
            width: 100%;
            height: 50px;
            background-color: $text-color;

            position: absolute;
            bottom: 0;
            left: 0;

            color: $accent-color;
            line-height: 50px;

            .outer-container {
                max-width: 1024px;

                a {
                    color: inherit;

                    &:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .information {
                    float: left;
                }
                .links {
                    overflow: hidden;

                    text-align: right;

                    ul {
                        @include clearfix;

                        padding: 0;
                        margin: 0;

                        list-style-type: none;

                        li {
                            display: inline-block;
                            margin-right: 38px;

                            text-transform: uppercase;

                            &:last-child {
                                margin: 0;
                            }
                            input[type=submit] {
                                background: none;
                                padding: 0;
                                border: none;
                                margin: 0;

                                text-transform: uppercase;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .outer-container {
        @include outer-container;
        padding-right: 32px;
        padding-left: 32px;

        .row {
            @include row();

            .span-columns-6 {
                @include span-columns(6);
            }
        }
    }
}
