@import "bourbon";
@import "neat";

$mobile: new-breakpoint(max-width 420px, 4);

$accent-color: #a1b1c2;
$background-color: #e1ecf7;
$primary-color: #59c2e6;
$text-color: #4f5f6f;

@import "imports/buttons";
@import "imports/inputs";

html, body {
    height: 100%;
    background-color: $background-color;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: $text-color;

    * {
        box-sizing: border-box;

        &:focus {
            outline: 0;
        }
    }
    a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    main {
        min-height: 100%;
        padding: 0 0 50px;
        position: relative;

        footer {
            width: 100%;
            height: 50px;
            background-color: $text-color;

            position: absolute;
            bottom: 0;
            left: 0;

            color: $accent-color;
            line-height: 50px;

            .outer-container {
                max-width: 1024px;

                a {
                    color: inherit;

                    &:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .information {
                    float: left;
                }
                .links {
                    overflow: hidden;

                    text-align: right;

                    ul {
                        @include clearfix;

                        padding: 0;
                        margin: 0;

                        list-style-type: none;

                        li {
                            display: inline-block;
                            margin-right: 38px;

                            text-transform: uppercase;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .outer-container {
        @include outer-container;
        padding-right: 20px;
        padding-left: 20px;
    }
}
