/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

button {
  background-color: #59c2e6;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  cursor: pointer; }
  button:hover {
    background-color: #6fcae9; }
  button:active {
    background-color: #43bae3; }
  button .fa {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle; }

input[type=url] {
  width: 100%;
  background: none;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid #4f5f6f; }
  input[type=url]::-webkit-input-placeholder {
    color: #bdc3c7; }
  input[type=url]::-moz-placeholder {
    color: #bdc3c7; }
  input[type=url]:-moz-placeholder {
    color: #bdc3c7; }
  input[type=url]:-ms-input-placeholder {
    color: #bdc3c7; }

html, body {
  height: 100%;
  background-color: #e1ecf7;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4f5f6f; }
  html *, body * {
    box-sizing: border-box; }
    html *:focus, body *:focus {
      outline: 0; }
  html a, body a {
    color: #59c2e6;
    text-decoration: none; }
    html a:hover, body a:hover {
      text-decoration: underline; }
  html main, body main {
    min-height: 100%;
    padding: 0 0 50px;
    position: relative; }
    html main footer, body main footer {
      width: 100%;
      height: 50px;
      background-color: #4f5f6f;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #a1b1c2;
      line-height: 50px; }
      html main footer .outer-container, body main footer .outer-container {
        max-width: 1024px; }
        html main footer .outer-container a, body main footer .outer-container a {
          color: inherit; }
          html main footer .outer-container a:hover, body main footer .outer-container a:hover {
            color: #fff;
            text-decoration: none; }
        html main footer .outer-container .information, body main footer .outer-container .information {
          float: left; }
        html main footer .outer-container .links, body main footer .outer-container .links {
          overflow: hidden;
          text-align: right; }
          html main footer .outer-container .links ul, body main footer .outer-container .links ul {
            padding: 0;
            margin: 0;
            list-style-type: none; }
            html main footer .outer-container .links ul:after, body main footer .outer-container .links ul:after {
              content: "";
              display: table;
              clear: both; }
            html main footer .outer-container .links ul li, body main footer .outer-container .links ul li {
              display: inline-block;
              margin-right: 38px;
              text-transform: uppercase; }
              html main footer .outer-container .links ul li:last-child, body main footer .outer-container .links ul li:last-child {
                margin: 0; }
  html .outer-container, body .outer-container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px; }
    html .outer-container:after, body .outer-container:after {
      content: "";
      display: table;
      clear: both; }

.component.index .outer-container .gif-tile-wrapper {
  display: block;
  border: 20px solid #fff;
  margin: 50px 0; }
  .component.index .outer-container .gif-tile-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .component.index .outer-container .gif-tile-wrapper .gif-tile {
    float: left;
    display: block;
    width: 25.58941%;
    width: 25%;
    background-color: #e1ecf7;
    position: relative;
    cursor: pointer;
    overflow: hidden; }
    .component.index .outer-container .gif-tile-wrapper .gif-tile:last-child {
      width: 23.23176%; }
    .component.index .outer-container .gif-tile-wrapper .gif-tile:last-child {
      width: 25%; }
    .component.index .outer-container .gif-tile-wrapper .gif-tile:after {
      padding-top: 100%;
      display: block;
      content: ""; }
    .component.index .outer-container .gif-tile-wrapper .gif-tile video {
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      left: 0; }

.directive.gifable-index-header {
  background: #59c2e6 url(/img/index-header-background.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }
  .directive.gifable-index-header .navigation {
    border-bottom: 1px solid #fff; }
    .directive.gifable-index-header .navigation .outer-container .logo {
      float: left; }
      .directive.gifable-index-header .navigation .outer-container .logo img {
        margin: 10px 0;
        vertical-align: top; }
    .directive.gifable-index-header .navigation .outer-container .links {
      overflow: hidden;
      text-align: right;
      line-height: 50px; }
      .directive.gifable-index-header .navigation .outer-container .links ul {
        padding: 0;
        margin: 0;
        list-style-type: none; }
        .directive.gifable-index-header .navigation .outer-container .links ul:after {
          content: "";
          display: table;
          clear: both; }
        .directive.gifable-index-header .navigation .outer-container .links ul li {
          display: inline-block;
          margin-right: 38px;
          text-transform: uppercase; }
          .directive.gifable-index-header .navigation .outer-container .links ul li:last-child {
            margin: 0; }
          .directive.gifable-index-header .navigation .outer-container .links ul li a {
            color: inherit; }
            .directive.gifable-index-header .navigation .outer-container .links ul li a:hover {
              text-decoration: none; }
  .directive.gifable-index-header .call-to-action {
    padding: 50px 0;
    text-align: center; }
    .directive.gifable-index-header .call-to-action h1 {
      margin: 0 0 20px;
      font-size: 34px;
      text-transform: uppercase; }
    .directive.gifable-index-header .call-to-action .input {
      margin-bottom: 50px; }
      .directive.gifable-index-header .call-to-action .input .directive.gifable-file-input button {
        width: 256px;
        background: none;
        border: 2px solid #fff; }
      .directive.gifable-index-header .call-to-action .input .directive.gifable-file-input:hover button {
        background-color: #fff;
        color: #59c2e6; }
      .directive.gifable-index-header .call-to-action .input .directive.gifable-file-input:active button {
        background-color: #fff;
        color: #59c2e6; }
    .directive.gifable-index-header .call-to-action p {
      max-width: 500px;
      margin: 0 auto;
      line-height: 22.652px; }

.directive.gifable-file-input {
  display: inline-block;
  position: relative; }
  .directive.gifable-file-input input[type=file] {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: transparent;
    cursor: pointer; }
    .directive.gifable-file-input input[type=file]::-webkit-file-upload-button {
      visibility: hidden; }
  .directive.gifable-file-input:hover button {
    background-color: #6fcae9; }
  .directive.gifable-file-input:active button {
    background-color: #43bae3; }

.directive.gifable-header {
  background-color: #59c2e6;
  color: #fff; }
  .directive.gifable-header .navigation .outer-container .logo {
    float: left; }
    .directive.gifable-header .navigation .outer-container .logo img {
      margin: 10px 0;
      vertical-align: top; }
  .directive.gifable-header .navigation .outer-container .links {
    overflow: hidden;
    text-align: right;
    line-height: 50px; }
    .directive.gifable-header .navigation .outer-container .links ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      .directive.gifable-header .navigation .outer-container .links ul:after {
        content: "";
        display: table;
        clear: both; }
      .directive.gifable-header .navigation .outer-container .links ul li {
        display: inline-block;
        margin-right: 38px;
        text-transform: uppercase; }
        .directive.gifable-header .navigation .outer-container .links ul li:last-child {
          margin: 0; }
        .directive.gifable-header .navigation .outer-container .links ul li a {
          color: inherit; }
          .directive.gifable-header .navigation .outer-container .links ul li a:hover {
            text-decoration: none; }

html .outer-container, body .outer-container {
  max-width: 1024px; }
