/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

button {
  background-color: #00b4ff;
  padding: 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  button:hover {
    background-color: #1abcff; }
  button:active {
    background-color: #00a2e6;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }

input[type=url] {
  width: 100%;
  background: none;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid #515151; }
  input[type=url]::-webkit-input-placeholder {
    color: #bdc3c7; }
  input[type=url]::-moz-placeholder {
    color: #bdc3c7; }
  input[type=url]:-moz-placeholder {
    color: #bdc3c7; }
  input[type=url]:-ms-input-placeholder {
    color: #bdc3c7; }

html, body {
  height: 100%;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #515151; }
  html *:focus, body *:focus {
    outline: 0; }
  html a, body a {
    color: #00b4ff;
    text-decoration: none; }
    html a:hover, body a:hover {
      text-decoration: underline; }
  html main, body main {
    min-height: 100%;
    padding: 0 0 64px;
    position: relative; }
    html main footer, body main footer {
      width: 100%;
      height: 64px;
      background-color: #34495e;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #a8b6c3;
      line-height: 64px; }
      html main footer .outer-container, body main footer .outer-container {
        max-width: 1024px; }
        html main footer .outer-container a, body main footer .outer-container a {
          color: inherit; }
          html main footer .outer-container a:hover, body main footer .outer-container a:hover {
            color: #fff;
            text-decoration: none; }
        html main footer .outer-container .information, body main footer .outer-container .information {
          float: left; }
        html main footer .outer-container .links, body main footer .outer-container .links {
          overflow: hidden;
          text-align: right; }
          html main footer .outer-container .links ul, body main footer .outer-container .links ul {
            padding: 0;
            margin: 0;
            list-style-type: none; }
            html main footer .outer-container .links ul:after, body main footer .outer-container .links ul:after {
              content: "";
              display: table;
              clear: both; }
            html main footer .outer-container .links ul li, body main footer .outer-container .links ul li {
              display: inline-block;
              margin-right: 32px; }
              html main footer .outer-container .links ul li:last-child, body main footer .outer-container .links ul li:last-child {
                margin: 0; }
  html .outer-container, body .outer-container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px; }
    html .outer-container:after, body .outer-container:after {
      content: "";
      display: table;
      clear: both; }

.directive.gifable-index-header {
  background: #34495e url(/img/index-header-background.jpg) center;
  background-size: cover;
  color: #fff; }
  .directive.gifable-index-header .navigation {
    padding: 12.5px 0;
    border-bottom: 1px solid #fff; }
    .directive.gifable-index-header .navigation .outer-container .logo {
      float: left; }
      .directive.gifable-index-header .navigation .outer-container .logo img {
        vertical-align: top; }
    .directive.gifable-index-header .navigation .outer-container .links {
      overflow: hidden;
      text-align: right;
      line-height: 39px; }
      .directive.gifable-index-header .navigation .outer-container .links ul {
        padding: 0;
        margin: 0;
        list-style-type: none; }
        .directive.gifable-index-header .navigation .outer-container .links ul:after {
          content: "";
          display: table;
          clear: both; }
        .directive.gifable-index-header .navigation .outer-container .links ul li {
          display: inline-block;
          margin-right: 32px;
          text-transform: uppercase; }
          .directive.gifable-index-header .navigation .outer-container .links ul li:last-child {
            margin: 0; }
          .directive.gifable-index-header .navigation .outer-container .links ul li a {
            color: inherit; }
            .directive.gifable-index-header .navigation .outer-container .links ul li a:hover {
              color: #00b4ff;
              text-decoration: none; }
  .directive.gifable-index-header .call-to-action {
    padding: 64px 0 32px 0;
    text-align: center; }
    .directive.gifable-index-header .call-to-action h1 {
      margin: 0 0 32px;
      font-size: 28px;
      text-transform: uppercase; }
    .directive.gifable-index-header .call-to-action .input {
      margin-bottom: 64px; }
    .directive.gifable-index-header .call-to-action p {
      max-width: 512px;
      margin: 0 auto;
      line-height: 22.652px; }

.directive.gifable-file-input {
  display: inline-block;
  position: relative; }
  .directive.gifable-file-input input[type=file] {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: transparent;
    cursor: pointer; }
    .directive.gifable-file-input input[type=file]::-webkit-file-upload-button {
      visibility: hidden; }
  .directive.gifable-file-input button {
    width: 256px;
    font-size: 16px; }
    .directive.gifable-file-input button .fa {
      margin-right: 8px; }
  .directive.gifable-file-input:hover button {
    background-color: #1abcff; }
  .directive.gifable-file-input:active button {
    background-color: #00a2e6;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }

.directive.gifable-header {
  display: inline-block;
  position: relative; }
  .directive.gifable-header input[type=file] {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: transparent; }
    .directive.gifable-header input[type=file]::-webkit-file-upload-button {
      visibility: hidden; }
  .directive.gifable-header button {
    width: 280px;
    font-size: 16px; }
    .directive.gifable-header button .fa {
      margin-right: 8px; }
  .directive.gifable-header:hover button {
    background-color: #1abcff; }
  .directive.gifable-header:active button {
    background-color: #00a2e6;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }

html .outer-container, body .outer-container {
  max-width: 1024px; }
