/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

button {
  background-color: #59c2e6;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  cursor: pointer; }
  button:hover {
    background-color: #6fcae9; }
  button:active {
    background-color: #43bae3; }
  button .fa {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle; }

input[type=url] {
  width: 100%;
  background: none;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid #4f5f6f; }
  input[type=url]::-webkit-input-placeholder {
    color: #bdc3c7; }
  input[type=url]::-moz-placeholder {
    color: #bdc3c7; }
  input[type=url]:-moz-placeholder {
    color: #bdc3c7; }
  input[type=url]:-ms-input-placeholder {
    color: #bdc3c7; }

html, body {
  height: 100%;
  background-color: #e1ecf7;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4f5f6f; }
  html *, body * {
    box-sizing: border-box; }
    html *:focus, body *:focus {
      outline: 0; }
  html a, body a {
    color: #59c2e6;
    text-decoration: none; }
    html a:hover, body a:hover {
      text-decoration: underline; }
  html main, body main {
    min-height: 100%;
    padding: 0 0 50px;
    position: relative; }
    html main footer, body main footer {
      width: 100%;
      height: 50px;
      background-color: #4f5f6f;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #a1b1c2;
      line-height: 50px; }
      html main footer .outer-container, body main footer .outer-container {
        max-width: 1024px; }
        html main footer .outer-container a, body main footer .outer-container a {
          color: inherit; }
          html main footer .outer-container a:hover, body main footer .outer-container a:hover {
            color: #fff;
            text-decoration: none; }
        html main footer .outer-container .information, body main footer .outer-container .information {
          float: left; }
        html main footer .outer-container .links, body main footer .outer-container .links {
          overflow: hidden;
          text-align: right; }
          html main footer .outer-container .links ul, body main footer .outer-container .links ul {
            padding: 0;
            margin: 0;
            list-style-type: none; }
            html main footer .outer-container .links ul:after, body main footer .outer-container .links ul:after {
              content: "";
              display: table;
              clear: both; }
            html main footer .outer-container .links ul li, body main footer .outer-container .links ul li {
              display: inline-block;
              margin-right: 38px;
              text-transform: uppercase; }
              html main footer .outer-container .links ul li:last-child, body main footer .outer-container .links ul li:last-child {
                margin: 0; }
              html main footer .outer-container .links ul li input[type=submit], body main footer .outer-container .links ul li input[type=submit] {
                background: none;
                padding: 0;
                border: none;
                margin: 0;
                text-transform: uppercase; }
                html main footer .outer-container .links ul li input[type=submit]:hover, body main footer .outer-container .links ul li input[type=submit]:hover {
                  color: #fff; }
  html .outer-container, body .outer-container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-right: 32px;
    padding-left: 32px; }
    html .outer-container:after, body .outer-container:after {
      content: "";
      display: table;
      clear: both; }
    html .outer-container .row, body .outer-container .row {
      display: block; }
      html .outer-container .row:after, body .outer-container .row:after {
        content: "";
        display: table;
        clear: both; }
      html .outer-container .row .span-columns-6, body .outer-container .row .span-columns-6 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        html .outer-container .row .span-columns-6:last-child, body .outer-container .row .span-columns-6:last-child {
          margin-right: 0; }

main {
  background-color: #e1ecf7; }
  main header {
    background-color: #59c2e6;
    color: #fff; }
    main header .navigation .outer-container .logo {
      float: left; }
      main header .navigation .outer-container .logo img {
        margin: 10px 0;
        vertical-align: top; }
    main header .navigation .outer-container .links {
      overflow: hidden;
      text-align: right;
      line-height: 50px; }
      main header .navigation .outer-container .links ul {
        padding: 0;
        margin: 0;
        list-style-type: none; }
        main header .navigation .outer-container .links ul:after {
          content: "";
          display: table;
          clear: both; }
        main header .navigation .outer-container .links ul li {
          display: inline-block;
          margin-right: 38px;
          text-transform: uppercase; }
          main header .navigation .outer-container .links ul li:last-child {
            margin: 0; }
          main header .navigation .outer-container .links ul li a {
            color: inherit; }
            main header .navigation .outer-container .links ul li a:hover {
              text-decoration: none; }
          main header .navigation .outer-container .links ul li input[type=submit] {
            background: none;
            padding: 0;
            border: none;
            margin: 0;
            text-transform: uppercase; }
  main section {
    padding: 50px 0; }
    main section .gif-wrapper {
      display: table;
      background-color: #fff;
      margin: 0 auto;
      border: 10px solid #fff;
      position: relative;
      box-shadow: 0 4px 8px rgba(79, 95, 111, 0.25); }
      main section .gif-wrapper img {
        vertical-align: top; }
      main section .gif-wrapper video {
        max-width: 100%;
        vertical-align: top; }
    main section .outer-container .processing-message {
      margin-bottom: 25px;
      font-weight: 700;
      text-align: center;
      color: #59c2e6; }
    main section .outer-container .links {
      margin-top: 50px; }
      main section .outer-container .links .row:last-child input[type=url] {
        margin-bottom: 0; }
      main section .outer-container .links .row label {
        display: block;
        margin-bottom: 4px;
        font-weight: 700; }
      main section .outer-container .links .row input[type=url] {
        margin-bottom: 16px; }
  main .outer-container {
    max-width: 1024px; }
