/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

input[type=url] {
  width: 100%;
  background: none;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid #515151; }
  input[type=url]::-webkit-input-placeholder {
    color: #bdc3c7; }
  input[type=url]::-moz-placeholder {
    color: #bdc3c7; }
  input[type=url]:-moz-placeholder {
    color: #bdc3c7; }
  input[type=url]:-ms-input-placeholder {
    color: #bdc3c7; }

html, body {
  height: 100%;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #515151; }
  html *:focus, body *:focus {
    outline: 0; }
  html .outer-container, body .outer-container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    html .outer-container:after, body .outer-container:after {
      content: "";
      display: table;
      clear: both; }
    html .outer-container .span-columns-6, body .outer-container .span-columns-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      html .outer-container .span-columns-6:last-child, body .outer-container .span-columns-6:last-child {
        margin-right: 0; }
  html a, body a {
    color: #00b4ff;
    text-decoration: none; }
    html a:hover, body a:hover {
      text-decoration: underline; }

.directive.custom-file-uploader {
  display: block;
  position: relative; }
  .directive.custom-file-uploader input[type=file] {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: transparent; }
    .directive.custom-file-uploader input[type=file]::-webkit-file-upload-button {
      visibility: hidden; }
  .directive.custom-file-uploader::before {
    content: 'Upload GIF';
    width: 100%;
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt; }
  .directive.custom-file-uploader:hover::before {
    border-color: black; }
  .directive.custom-file-uploader:active {
    outline: 0; }
    .directive.custom-file-uploader:active::before {
      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }

.directive.loading-animation {
  position: relative;
  padding-top: 100px;
  width: 40px;
  margin: auto; }
  .directive.loading-animation .circle {
    position: absolute;
    width: 38px;
    height: 38px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s; }
    .directive.loading-animation .circle:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background: #515151; }
    .directive.loading-animation .circle:nth-child(2) {
      animation-delay: 240ms; }
    .directive.loading-animation .circle:nth-child(3) {
      animation-delay: 480ms; }
    .directive.loading-animation .circle:nth-child(4) {
      animation-delay: 720ms; }
    .directive.loading-animation .circle:nth-child(5) {
      animation-delay: 960ms; }

@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out; }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear; }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out; }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear; }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out; }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out; }

  76% {
    transform: rotate(945deg);
    opacity: 0; }

  100% {
    transform: rotate(945deg);
    opacity: 0; } }

html, body {
  background-color: #ecf0f1; }
  html header, body header {
    background-color: #00b4ff; }
    html header .outer-container, body header .outer-container {
      padding: 32px; }
      html header .outer-container .span-columns-6, body header .outer-container .span-columns-6 {
        font-size: 16px;
        color: #fff;
        line-height: 42px; }
        html header .outer-container .span-columns-6 img, body header .outer-container .span-columns-6 img {
          vertical-align: top; }
        html header .outer-container .span-columns-6 ul, body header .outer-container .span-columns-6 ul {
          display: inline-block;
          padding: 0;
          margin: 0;
          list-style: none; }
          html header .outer-container .span-columns-6 ul li, body header .outer-container .span-columns-6 ul li {
            display: inline-block;
            padding: 0;
            margin: 0;
            margin-right: 32px; }
            html header .outer-container .span-columns-6 ul li:last-child, body header .outer-container .span-columns-6 ul li:last-child {
              margin-right: 0; }
            html header .outer-container .span-columns-6 ul li a, body header .outer-container .span-columns-6 ul li a {
              color: inherit; }
              html header .outer-container .span-columns-6 ul li a:hover, body header .outer-container .span-columns-6 ul li a:hover {
                text-decoration: none;
                border-bottom: 2px solid #fff; }
  html main section, body main section {
    padding: 64px 0; }
    html main section .input-wrapper, body main section .input-wrapper {
      text-align: center; }
      html main section .input-wrapper .file-input-wrapper .custom-file-uploader, body main section .input-wrapper .file-input-wrapper .custom-file-uploader {
        width: 128px;
        margin: 0 auto; }
    html main section .uploading-wrapper, body main section .uploading-wrapper {
      width: 100%;
      padding: 0 0 56.25%;
      position: relative;
      overflow: hidden; }
      html main section .uploading-wrapper > .table-wrapper, body main section .uploading-wrapper > .table-wrapper {
        padding: 32px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        html main section .uploading-wrapper > .table-wrapper .table, body main section .uploading-wrapper > .table-wrapper .table {
          display: table;
          width: 100%;
          height: 100%; }
          html main section .uploading-wrapper > .table-wrapper .table .table-cell, body main section .uploading-wrapper > .table-wrapper .table .table-cell {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
  html footer, body footer {
    padding-bottom: 32px;
    font-size: 14px;
    text-align: center;
    color: #bdc3c7; }
  html .outer-container, body .outer-container {
    max-width: 800px; }
