/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  height: 100%;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #515151; }
  html *:focus, body *:focus {
    outline: 0; }
  html a, body a {
    color: #00b4ff;
    text-decoration: none; }
    html a:hover, body a:hover {
      text-decoration: underline; }

body header .outer-container, body main .outer-container, body footer .outer-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }
  body header .outer-container:after, body main .outer-container:after, body footer .outer-container:after {
    content: "";
    display: table;
    clear: both; }
body header .outer-container {
  padding: 64px 0 0;
  text-align: center; }
  body header .outer-container img {
    vertical-align: top; }
body main section {
  padding: 32px 32px 16px; }
  body main section .dropzone {
    width: 100%;
    background: none;
    padding: 0;
    border: 2px dashed #bcbcbc;
    position: relative; }
    body main section .dropzone.dz-drag-hover {
      border: 2px dashed #00b4ff; }
      body main section .dropzone.dz-drag-hover .dz-default.dz-message {
        opacity: 1; }
    body main section .dropzone .dz-default.dz-message {
      padding-top: 137.5px;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: #515151; }
      body main section .dropzone .dz-default.dz-message img {
        vertical-align: top; }
      body main section .dropzone .dz-default.dz-message h3 {
        margin: 0;
        font-size: 48px; }
    body main section .dropzone .dz-preview.dz-processing .dz-image {
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      transition: opacity 0.2s; }
    body main section .dropzone .dz-preview.dz-processing.dz-complete .dz-image {
      opacity: 1; }
    body main section .dropzone .dz-preview .dz-details {
      display: none; }
    body main section .dropzone .dz-preview .dz-progress {
      width: 100px;
      height: 14px;
      background: none;
      border: 2px solid #00b4ff;
      border-radius: 7px;
      margin-top: -7px;
      margin-left: -50px; }
      body main section .dropzone .dz-preview .dz-progress .dz-upload {
        background: #00b4ff;
        border-radius: 6px;
        top: 1px;
        bottom: 1px;
        left: 1px; }
body footer {
  font-size: 14px;
  text-align: center;
  color: #bcbcbc; }
