@import "../shared/_base";

html, body {
    background-color: #ecf0f1;

    header {
        background-color: $blue;

        .outer-container {
            padding: 32px;

            .span-columns-6 {
                font-size: 16px;
                color: #fff;
                line-height: 42px;

                img {
                    vertical-align: top;
                }
                ul {
                    display: inline-block;
                    padding: 0;
                    margin: 0;

                    list-style: none;

                    li {
                        display: inline-block;
                        padding: 0;
                        margin: 0;

                        margin-right: 32px;

                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            color: inherit;

                            &:hover {
                                text-decoration: none;
                                border-bottom: 2px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        section {
            padding: 32px;

            .dropzone {
                width: 100%;
                background-color: #fff;
                padding: 0 0 56.25%;
                border: 2px dashed #bdc3c7;
                margin-bottom: 32px;

                position: relative;

                overflow: hidden;


                &.dz-drag-hover {
                    border: 2px dashed $blue;

                    .dz-default.dz-message {
                        opacity: 1;
                    }
                }
                .dz-default.dz-message,
                .dz-image-preview {
                    .table {
                        display: table;
                        width: 100%;
                        height: 100%;

                        .table-cell {
                            display: table-cell;

                            text-align: center;
                            vertical-align: middle;
                        }
                    }
                }
                .dz-default.dz-message {
                    padding: 0;
                    margin: 0;

                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    color: #515151;

                    .table {
                        .table-cell {
                            img {
                                vertical-align: top;
                            }
                            h3 {
                                margin: 0;

                                font-size: 48px;
                                white-space: nowrap;

                                @include media($mobile) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .dz-image-preview {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
            .url-input-wrapper {
                @include clearfix;

                .label {
                    float: left;
                    margin-right: 8px;

                    line-height: 28px;
                }
                .input {
                    overflow: hidden;
                }
            }
        }
    }
    footer {
        padding-bottom: 32px;

        font-size: 14px;
        text-align: center;
        color: #bdc3c7;
    }
    .outer-container {
        max-width: 800px;
    }
}
