@import "../shared/_base";

body {
    header,
    main,
    footer {
        .outer-container {
            @include outer-container;
            max-width: 800px;
        }
    }
    header {
        .outer-container {
            padding: 64px 0 0;

            text-align: center;

            img {
                vertical-align: top;
            }
            p {
                margin: 8px 0 0;
            }
        }
    }
    main {
        section {
            padding: 32px;

            .dropzone {
                width: 100%;
                background: none;
                padding-bottom: 56.25%;
                border: 3px dashed #bcbcbc;

                position: relative;

                &.dz-drag-hover {
                    border: 3px dashed $blue;

                    .dz-default.dz-message {
                        opacity: 1;
                    }
                }
                .dz-default.dz-message {
                    padding-top: 137.5px;
                    margin: 0;

                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    color: #515151;

                    img {
                        vertical-align: top;
                    }
                    h3 {
                        margin: 0;

                        font-size: 48px;
                    }
                }
            }
        }
    }
    footer {
        font-size: 14px;
        text-align: center;
        color: #bcbcbc;

        ul {
            display: inline-block;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                padding: 0 0 0 4px;
                margin: 0 0 0 4px;
                border-left: 1px solid #bdc3c7;

                list-style: none;

                &:first-child {
                    border-left: none;
                }
            }
        }
    }
}
