@import "../shared/_base";

body {
    header,
    main,
    footer {
        .outer-container {
            @include outer-container;
            max-width: 800px;
        }
    }
    header {
        .outer-container {
            padding: 64px 0 0;

            text-align: center;

            img {
                vertical-align: top;
            }
        }
    }
    main {
        section {
            padding: 32px 32px 16px;

            .dropzone {
                width: 100%;
                background: none;
                padding: 0;
//                padding-bottom: 56.25%;
                border: 2px dashed #bcbcbc;

                position: relative;

                &.dz-drag-hover {
                    border: 2px dashed $blue;

                    .dz-default.dz-message {
                        opacity: 1;
                    }
                }
                .dz-default.dz-message {
                    padding-top: 137.5px;
                    margin: 0;

                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    color: #515151;

                    img {
                        vertical-align: top;
                    }
                    h3 {
                        margin: 0;

                        font-size: 48px;
                    }
                }
                .dz-preview {
                    &.dz-processing {
                        .dz-image {
                            opacity: 0;
                            @include transition(opacity 0.2s);
                        }
                    }
                    &.dz-processing.dz-complete {
                        .dz-image {
                            opacity: 1;
                        }
                    }
                    .dz-details {
                        display: none;
                    }
                    .dz-progress {
                        width: 100px;
                        height: 14px;
                        background: none;
                        border: 2px solid $blue;
                        border-radius: 7px;
                        margin-top: -7px;
                        margin-left: -50px;

                        .dz-upload {
                            background: $blue;
                            border-radius: 6px;

                            top: 1px;
                            bottom: 1px;
                            left: 1px;
                        }
                    }
                }
            }
        }
    }
    footer {
        font-size: 14px;
        text-align: center;
        color: #bcbcbc;
    }
}
