.directive.gifable-header {
    background-color: $primary-color;

    color: #fff;

    .navigation {
        .outer-container {
            .logo {
                float: left;

                img {
                    margin: 10px 0;
                    vertical-align: top;
                }
            }
            .links {
                overflow: hidden;

                text-align: right;
                line-height: 50px;

                ul {
                    @include clearfix;

                    padding: 0;
                    margin: 0;

                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-right: 38px;

                        text-transform: uppercase;

                        &:last-child {
                            margin: 0;
                        }
                        a {
                            color: inherit;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                        input[type=submit] {
                            background: none;
                            padding: 0;
                            border: none;
                            margin: 0;

                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
