.directive.gifable-file-input {
    display: inline-block;

    position: relative;

//    cursor: pointer;

    input[type=file] {
        width: 100%;

        position: absolute;
        top: 0;
        bottom: 0;

        color: transparent;

        cursor: pointer;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }
    }
    button {
        width: 256px;

        font-size: 16px;

        .fa {
            margin-right: 8px;
        }
    }
    &:hover {
        button {
            background-color: lighten($blue, 5%);
        }
    }
    &:active {
        button {
            background-color: darken($blue, 5%);

            @include box-shadow(inset 0 1px 2px rgba(#000, 0.2));
        }
    }
}
