.directive.gifable-gif-tile {
    @include span-columns(3);

    @include media($mobile) {
        @include span-columns(6);
        width: 50%;
    }

    width: 25%;
    background-color: $background-color;
    background-position: center center;
    background-size: cover;

    position: relative;

    cursor: pointer;
    overflow: hidden;

    &:last-child {
        width: 25%;

        @include media($mobile) {
            width: 50%;
        }
    }
    &:after {
        display: block;
        content: "";
        padding-top: 75%;
    }
    .buffering-wrapper {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        z-index: 1;

        .buffering-table {
            width: 100%;
            height: 100%;

            display: table;

            .buffering-table-cell {
                display: table-cell;
                vertical-align: middle;

                font-size: 30px;
                color: #fff;
                text-align: center;
            }
        }
    }
    video {
        width: auto;
        height: auto;

        position: absolute;
        top: 0;
        left: 0;
    }
}
