.directive.gifable-file-input {
    display: inline-block;

    position: relative;

    input[type=file] {
        width: 100%;

        position: absolute;
        top: 0;
        bottom: 0;

        color: transparent;

        cursor: pointer;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }
    }
    &:hover {
        button {
            background-color: lighten($primary-color, 5%);
        }
    }
    &:active {
        button {
            background-color: darken($primary-color, 5%);
        }
    }
}
