.directive.gifable-file-input {
    display: inline-block;

    position: relative;

    @include user-select(none);

    &:hover {
        button {
            background-color: lighten($primary-color, 5%);
        }
    }
    &:active {
        button {
            background-color: darken($primary-color, 5%);
        }
    }
    &.disabled {
        cursor: wait;
        pointer-events: none;
    }
}
