@import "../../shared/sass/base";

main {
    background-color: $background-color;

    header {
        background-color: $primary-color;

        color: #fff;

        .navigation {
            .outer-container {
                .logo {
                    float: left;

                    img {
                        margin: 10px 0;
                        vertical-align: top;
                    }
                }
                .links {
                    overflow: hidden;

                    text-align: right;
                    line-height: 50px;

                    ul {
                        @include clearfix;

                        padding: 0;
                        margin: 0;

                        list-style-type: none;

                        li {
                            display: inline-block;
                            margin-right: 38px;

                            text-transform: uppercase;

                            &:last-child {
                                margin: 0;
                            }
                            a {
                                color: inherit;

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                            input[type=submit] {
                                background: none;
                                padding: 0;
                                border: none;
                                margin: 0;

                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    section {
        padding: 50px 0;

        .gif-wrapper {
            display: table;
            background-color: #fff;
            margin: 0 auto;
            border: 10px solid #fff;

            position: relative;

            box-shadow: 0 4px 8px rgba($text-color, 0.25);

            img {
                vertical-align: top;
            }
            video {
                max-width: 100%;

                vertical-align: top;
            }
        }
        .outer-container {
            .processing-message {
                margin-bottom: 25px;

                font-weight: 700;
                text-align: center;
                color: $primary-color;
            }
            .links {
                margin-top: 50px;

                .row {
                    @include media($mobile) {
                        @include span-columns(12);
                    }

                    &:last-child {
                        input[type=url] {
                            margin-bottom: 0;
                        }
                    }
                    .span-columns-6 {
                        @include shift(3);

                        @include media($mobile) {
                            @include span-columns(12);
                            @include shift(0);
                        }

                        label {
                            display: block;
                            margin-bottom: 4px;

                            font-weight: 700;
                        }
                        input[type=url] {
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
    .outer-container {
        max-width: 1024px;
    }
}
