.directive.custom-file-uploader {
    display: block;

    position: relative;

    input[type=file] {
        width: 100%;

        position: absolute;
        top: 0;
        bottom: 0;

        color: transparent;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }
    }
    &::before {
        content: 'Upload GIF';
        width: 100%;
        color: black;
        display: inline-block;
        background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }
    &:hover::before {
        border-color: black;
    }
    &:active {
        outline: 0;

        &::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }
    }
}
