@import "bourbon";
@import "neat";

@import "imports/inputs";

$mobile: new-breakpoint(max-width 420px, 4);

$blue: #00b4ff;

html, body {
    height: 100%;
    background-color: #fff;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #515151;

    *:focus {
        outline: 0;
    }
    .outer-container {
        @include outer-container;

        .span-columns-6 {
            @include span-columns(6);
        }
    }
    a {
        color: $blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
