@import "bourbon";
@import "neat";

$blue: #00b4ff;

html, body {
    height: 100%;
    background-color: #fff;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #515151;

    *:focus {
        outline: 0;
    }
    a {
        color: $blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
