.gifable-wrapper {
    display: inline-block;
    position: relative;

    img, video {
        vertical-align: top;
    }
    .watermark {
        position: absolute;
        right: 8px;
        bottom: 4px;

        opacity: 0.25;

        &:hover {
            opacity: 0.75;
        }
        a {
            img {
                vertical-align: top;
            }
        }
    }
}
