<gifable-index-header></gifable-index-header>
<section class="component index">
    <div class="outer-container">
        <div class="row">
            <div class="span-columns-6">
                <h3><i class="fa fa-file-image-o"></i>Smaller Files</h3>
                <p>HTML5 videos are, on average, 8 times faster than their GIF counterparts - allowing you to load your high-quality cat GIFs without any waiting.</p>
            </div>
            <div class="span-columns-6">
                <h3><i class="fa fa-mobile"></i>Available Anywhere</h3>
                <p>Gifable always delivers the best version of the file for your device. So whether you're on Internet Explorer, an iPad, or your phone - we've got you covered.</p>
            </div>
        </div>
        <div class="row">
            <div class="span-columns-6">
                <h3><i class="fa fa-globe"></i>Fast &amp; Reliable</h3>
                <p>Utilizing a world class CDN, Gifable is able to deliver your files anywhere in the world with amazing speed and reliability.</p>
            </div>
            <div class="span-columns-6">
                <h3><i class="fa fa-code"></i>Developer Friendly</h3>
                <p>The code that powers Gifable is available on <a href="https://github.com/r0bc4ry/gifable" target="_blank">GitHub</a>, allowing anyone to contribute to keeping Gifable secure, reliable, and fast. Want to use Gifable for your own project? A simple <a href="#/api">RESTful API</a> is also available.</p>
            </div>
        </div>
        <div class="gif-tile-wrapper">
            <div class="gif-tile" ng-repeat="gif in gifs" gifable-repeat-events ng-click="navigateToGif(gif)" ng-mouseover="visibleGif = $index" ng-mouseout="visibleGif = false" ng-style="{ 'background-image': 'url(' + gif.png_url + ')' }" style="background-position: center center; background-size: cover;">
                <video preload="auto" loop="loop" muted="muted" poster="{{ gif.png_url }}" ng-show="visibleGif === $index" ng-mouseover="playGif($event)" ng-mouseout="pauseGif($event)" ng-style="{ width: calculateVideoWidth(gif), height: calculateVideoHeight(gif), top: calculateVideoTop(gif), left: calculateVideoLeft(gif) }">
                    <source src="{{ gif.mp4_url }}" type="video/mp4">
                    <source src="{{ gif.webm_url }}" type="video/webm">
                    Video not playing? <a href="{{ gif.mp4_url }}">Download it</a> instead.
                </video>
            </div>
        </div>
    </div>
</section>
