.directive.gifable-index-header {
    background: $primary-color url(/img/index-header-background.jpg) no-repeat center center;
    background-size: cover;

    color: #fff;

    .navigation {
        border-bottom: 1px solid #fff;

        .outer-container {
            .logo {
                float: left;

                img {
                    margin: 10px 0;
                    vertical-align: top;
                }
            }
            .links {
                overflow: hidden;

                text-align: right;
                line-height: 50px;

                ul {
                    @include clearfix;

                    padding: 0;
                    margin: 0;

                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-right: 38px;

                        text-transform: uppercase;

                        &:last-child {
                            margin: 0;
                        }
                        a {
                            color: inherit;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                        input[type=submit] {
                            background: none;
                            padding: 0;
                            border: none;
                            margin: 0;

                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .call-to-action {
        padding: 50px 0;

        text-align: center;

        h1 {
            margin: 0 0 20px;

            font-size: 34px;
            text-transform: uppercase;
        }
        .input {
            margin-bottom: 50px;

            .directive.gifable-file-input {
                button {
                    width: 256px;
                    background: none;
                    border: 2px solid #fff;
                }
                &:hover {
                    button {
                        background-color: #fff;
                        color: $primary-color;
                    }
                }
                &:active {
                    button {
                        background-color: #fff;
                        color: $primary-color;
                    }
                }
                &.disabled {
                    pointer-events: none;

                    button {
                        background-color: #fff;
                        color: $primary-color;

                        cursor: progress;
                    }
                }
            }
        }
        p {
            max-width: 500px;
            margin: 0 auto;

            line-height: golden-ratio(14px, 1);
        }
    }
}
