.directive.gifable-index-header {
    background: $primary-color url(/img/index-header-background.jpg) no-repeat center center;
    background-size: cover;

    color: #fff;

    .navigation {
        border-bottom: 1px solid #fff;

        .outer-container {
            .logo {
                float: left;

                img {
                    margin: 10px 0;
                    vertical-align: top;
                }
            }
            .links {
                overflow: hidden;

                text-align: right;
                line-height: 50px;

                ul {
                    @include clearfix;

                    padding: 0;
                    margin: 0;

                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-right: 38px;

                        text-transform: uppercase;

                        &:last-child {
                            margin: 0;
                        }
                        a {
                            color: inherit;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                        input[type=submit] {
                            background: none;
                            padding: 0;
                            border: none;
                            margin: 0;

                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .hero {
        padding: 72px 0;

        text-align: center;

        h1 {
            margin: 0;

            font-size: 30px;
            line-height: golden-ratio(30px, 1);
        }
        h2 {
            margin: 0 0 36px;

            font-size: 16px;
            font-weight: normal;
            line-height: golden-ratio(16px, 1);
        }
        .call-to-action {
            max-width: 600px;
            margin: 0 auto;

            .search {
                margin-bottom: 18px;

                position: relative;

                overflow: hidden;

                &:after {
                    @include font-awesome;
                    content: "\f002";

                    position: absolute;
                    top: 16px;
                    left: 20px;

                    font-size: 18px;
                }
                input[type=text] {
                    background-color: rgba(#fff, 0.25);
                    padding: 0 20px 0 58px;
                    border: none;
                    border-radius: 3px;

                    font-size: 16px;
                    line-height: 50px;

                    @include placeholder {
                        color: #fff;
                    }
                }
            }
            .directive.gifable-file-input {
                button {
                    min-width: 214px;
                    background-color: $secondary-color;
                }
                &:hover {
                    button {
                        background-color: lighten($secondary-color, 5%);
                    }
                }
                &:active {
                    button {
                        background-color: darken($secondary-color, 5%);
                    }
                }
            }
        }
    }
}
