.component.index {
    .outer-container {
        .row {
            margin-bottom: 50px;

            &:first-child {
                margin-top: 50px;
            }
            .span-columns-6 {
                h3 {
                    margin: 0 0 14px;

                    font-size: 18px;

                    .fa {
                        margin-right: 10px;

                        font-size: 24px;
                        vertical-align: middle;
                    }
                }
                p {
                    margin: 0;

                    line-height: golden-ratio(14px, 1);
                }
            }
        }
        .gif-tile-wrapper {
            @include row();

            border: 20px solid #fff;
            margin: 50px 0;

            .gif-tile {
                @include span-columns(3, block-collapse);

                width: 25%;
                background-color: $background-color;

                position: relative;

                cursor: pointer;
                overflow: hidden;

                &:last-child {
                    width: 25%;
                }
                &:after {
                    padding-top: 100%;
                    display: block;
                    content: "";
                }
                video {
                    width: auto;
                    height: auto;

                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
