.component.search {
    .outer-container {
        padding-top: 50px;
        padding-bottom: 50px;

        h1 {
            margin: 0 0 20px;

            font-size: 30px;
        }
        .results-wrapper {
            @include clearfix;
        }
        .loader-wrapper {
            font-size: 48px;
            color: $secondary-color;
            text-align: center;

            h3 {
                margin: 0;

                font-size: 14px;
                color: $text-color;
            }
        }
        .directive.gifable-gif-tile {
            @include span-columns(3);

            @include media($mobile) {
                @include span-columns(6);

                width: 49%;
                margin-right: 2%;
                margin-bottom: 2%;
            }

            width: 24.25%;
            margin-right: 1%;
            margin-bottom: 1%;

            &:nth-child(2) {
                @include media($mobile) {
                    width: 49%;
                    margin-right: 0;
                }
            }
            &:nth-child(4) {
                margin-right: 0;
            }
            &.ng-enter {
                @include transition(opacity 200ms);
                opacity: 0;

                &.ng-enter-active {
                    opacity: 1;
                }
            }
        }
    }
}
